<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Zakomentujeme globalni konfigurace
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local nuget server" value="https://localhost:44361/nuget" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Lokalni disk" value="S:\GitIndSoftMultiSolution02\LocalNugetRepository" />
    -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Package source" value="S:\Library\LocalNuGetRepository-Mirror" />
    <add key="Nuget Server IndSoft" value="S:\TeamCity\ServerNugetRepositoryIndSoft" />
    <add key="Nuget Server 3rd Party" value="S:\TeamCity\ServerNugetRepository3Party" />
    <add key="Nuget local repository 2" value="S:\GitHub02\IndSoftHelloWorld2\build" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="Local nuget server" value="true" />
    <add key="nuget.org" value="true" />
    <add key="Package source" value="true" />
  </disabledPackageSources>
</configuration>